{% extends "base.html" %}

{% block content %}
<h2>Корзина</h2>

{% if order.items.all %}
<ul class="list-group mb-3">
    {% for oi in order.items.all %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
            <strong>{{ oi.item.name }}</strong><br>
            {{ oi.item.price_display|floatformat:2 }} $ × {{ oi.quantity }}
        </div>

        <div class="btn-group">
            <a href="/orders/decrease/{{ oi.item.id }}/" class="btn btn-warning">−</a>
            <a href="/orders/add-to-cart/{{ oi.item.id }}/" class="btn btn-success">+</a>
            <a href="/orders/remove/{{ oi.item.id }}/" class="btn btn-danger">✕</a>
        </div>
    </li>
    {% endfor %}
</ul>

<a href="/orders/buy-order/{{ order.id }}/" class="btn btn-success w-100">
    Оплатить
</a>

{% else %}
<p>Корзина пуста</p>
{% endif %}
{% endblock %}
